<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="!registered" class="container">
  <h1>Register</h1>
  
    <div class="form-group">
      <label for="mail">E-MAIL</label>
      <input type="mail" class="form-control" [(ngModel)]="email" required>      
      <div *ngIf="emailError" class="alert alert-danger"> 
           {{emailError}}
      </div>
    </div>
    <div class="form-group">
      <label for="password">PASSWORD</label>
      <input type="password" class="form-control" [(ngModel)]="password" required>
      <div *ngIf="passwordError" class="alert alert-danger"> 
          {{passwordError}}
     </div>
    </div>
    <button type="submit" (click)="register()" class="btn btn-success">Sign Up</button>

  
</div>

<div class="container" *ngIf="registered">
  <h1>Vous êtes inscrit !!</h1> 
</div>